{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explore | ViewPoint</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body class="overflow-hidden">
<div class="row flex-column-reverse flex-lg-row w-100 vh-100 mh-100 flex-nowrap p-0 m-0">

    <!-- Navigation Bar-->
    {% load slippers %}
    {% #navbar username=user_profile.user.username %}
    {% /navbar %}

    <!-- Explore Template -->
    <div class="col-12 col-lg-11 pt-3 flex-grow-1 bg-body-tertiary">
        <div class="row justify-content-center flex-column align-items-center">
            <div class="col-12 col-lg-6">
                <div class='viewpoint-explore'>
                    {% for post in explore_list reversed %}
                        <a class='viewpoint-explore-item' href="#">
                            <img src='{{ post.image.url }}'/>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>