<div class="viewpoint-nav z-1 col-12 col-lg-1 position-sticky bottom-0 bg-white d-flex align-items-center overflow-hidden bg-white">
    <nav class="w-100">
        <ul class="nav w-100 lg-flex-column align-items-center justify-content-between justify-content-lg-center fs-4">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">
                    <i class="bi bi-house text-dark"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/explore">
                    <i class="bi bi-compass text-dark"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">
                    <i class="bi bi-plus-circle text-dark"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/{{ username }}">
                    <i class="bi bi-person text-dark"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">
                    <i class="bi bi-bell text-dark"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>